.hello {
  color: red;
}

body {
  background-color: rgb(189, 189, 189);
}

.appItem {
  height: 50px;
  background-color: white;
}

.btmDiv {
  height: 65px;
  background-color: rgb(240, 240, 240);
}
